@import "~styles/_variables.styl"

.sidebar
  margin-top space-md * 5
.sidebar-nav
  margin 0
  padding 0
  list-style-type none
  &__link
    padding space-sm space-md
    display block
    &--active
      font-weight 700
