@import "~blaze/dist/generics.global.min.css"
@import "~blaze/dist/objects.grid.min.css"
@import "~blaze/dist/objects.grid.responsive.min.css"
@import "~blaze/dist/objects.images.min.css"
@import "~blaze/dist/utilities.boxing.min.css"
@import "~blaze/dist/components.inputs.min.css"

@import "_variables.styl"

body
  color color-main
  font-family font-main
